# Environnements virtuels
.env
venv_tennis/
venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
ADO bracket generator.py
AirtableModel.py
*.log

# fichiers divers
ressources/
frontend-admin/